/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;                      /* Removes default padding from all elements */
    margin: 0;                       /* Removes default margin from all elements */
    box-sizing: border-box;          /* Ensures padding and border are included in the element's total width/height */

}


/* General styles */
body {
    min-height: 100vh;             /* Ensures the body takes up at least the full height of the viewport */
    display: flex;                 /* Applies flexbox layout to the body */
    flex-direction: column;        /* Stacks child elements vertically */
    /* Generic project styles */
    color: #3a3a3a;                /* Sets text color to a dark gray */
    font-family: 'Lato', sans-serif; /* Sets the font to Lato with a fallback to sans-serif */
}

h1, h2, h3 {
    font-family: Oswald, sans-serif; /* Sets the font to Oswald with a fallback to sans-serif */
    text-transform: uppercase;       /* Transforms text to uppercase */
    letter-spacing: 2px;             /* Adds space between each letter */
    color: #252525;                /* Sets the text color to a dark gray */
}


/* Header */
header {
    background-color: #ffffff;        /* Sets background color to white */
    padding: 0 1rem;                    /* Adds horizontal padding of 1rem */
    position: fixed;                    /* Fixes the header at the top of the screen */
    z-index: 99;                        /* Ensures the header is above other elements */
    width: 100%;                        /* Makes the header span the full width of the screen */
    box-shadow: 0 2px 2px #3a3a3a;    /* Adds a subtle shadow beneath the header */
    display: flex;                      /* Enables flexbox layout for the container */
    justify-content: space-between;     /* Distributes space between items, placing the first item at the start and the last item at the end */
    align-items: baseline;              /* Aligns items based on their text baseline, ensuring the text sits on the same line */
    
}

header a {
    text-decoration: none;       /* Removes underline from links */
    color: inherit;              /* Inherits the color from the parent element */
}


#menu {
    font-size: 110%;                /* Increases font size by 10% */
    letter-spacing: 4px;            /*Adds space between letters */
    list-style-type: none;          /* Removes bullet points from list */
    /* gap: 1rem;                      Adds space between menu items */
}   

#menu > li {
    margin-bottom: 1rem;             /* Adds space below each list item */
}

.active {
    border-bottom: 1px solid #3a3a3a; /* Adds a bottom border to elements with the "active" class */
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;               /* Positions the navigation absolutely within its nearest positioned ancestor */
    background-color: #ffffff;      /* Sets the background color of the navbar to white */
    width: 100%;                      /* Ensures the navbar takes up the full width of the viewport */
    left: 0;                          /* Aligns the navbar to the left edge of its container */
    padding: 0 1rem;                  /* Adds horizontal padding (left and right) of 1rem inside the navbar */
    box-shadow: 0 2px 2px #3a3a3a;  /* Adds a shadow effect below the navbar for depth */
    display: none;                    /* Hides the navbar by default (used for mobile dropdown menu) */
    top: 100%;                        /* Positions the navbar just below the top of the parent container */
}

/* Nav toggle / dropdown for navigation menu on mobile */
/* When the checkbox with id 'nav-toggle' is checked,
   the sibling 'nav' element (which is the navigation menu) 
   will have its display property set to block, making it visible. */
#nav-toggle:checked ~ nav{
    display:block;
}

/*To not appear the checkbox */
#nav-toggle{
    display: none;  /* Hides the checkbox input element from view (but it still functions behind the scenes) */
}

.nav-toggle-label{
    font-size: 2rem;  /* Sets the font size of the label to 2rem, making it larger and more visible */
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; /* Allows the item to grow, prevents shrinking, and uses its natural size as the base */
    margin-top: 47px;  /* Adds space of 47px above the element, pushing it downward */
}


/* Hero Section Styles */
#hero {
    height: 700px; /* Sets the section height to 700px */
    width: 100%; /* Makes the section take up the full width of the screen */
    background: url("../images/hero-image.webp") no-repeat center center/cover; 
    /* Adds a background image, ensures it doesn't repeat, 
       centers it, and makes it cover the entire area */
    background-size: cover; /* Ensures the background fully covers the section */
    position: relative; /* Makes it a reference point for absolutely positioned child elements */
}

/* Cover Text Overlay */
#cover-text {
    background-color: rgba(241, 109, 107, .7); /* Adds a semi-transparent red overlay and an alpha .7 at the end */
    font-size: 130%; /* Increases font size by 30% */
    position: absolute; /* Positions the text relative to the #hero section */
    bottom: 30px; /* Places the text 30px above the bottom of #hero */
    width: 80%; /* Makes the overlay width 80% of #hero's width */
    height: 200px; /* Sets the overlay height to 200px */
    padding-top: 40px; /* Adds 40px padding to the top */
    padding-left: 10px; /* Adds 10px padding to the left */
}

/* Styling for Heading Elements Inside #cover-text */
#cover-text > h2, #cover-text > h3 {
    color: #ffffff; /* Sets text color to white for contrast against the overlay */
}


/* Footer */
/* Social Networks Section */
#social-networks {
    text-align: center; /* Centers the social network icons */
    padding: 20px 0; /* Adds vertical padding */
    display: flex; /* Uses flexbox for layout */
    justify-content: space-evenly; /* Distributes icons evenly across the section */
    list-style-type: none; /* Removes default list bullet points */
}

/* Styling for Social Network Icons */
#social-networks i {
   font-size: 160%; /* Increases the icon size */
   padding: 5%; /* Adds spacing around the icons */
   color: #3a3a3a; /* Sets the icon color to dark gray */
}


/* Styles for screens that are 768px or wider (typically tablets and desktops) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block; /* Ensures the navigation menu is always visible on larger screens */
        position: relative; /* Resets position so it's no longer absolute (used in mobile view) */
        box-shadow: none; /* Removes shadow for a cleaner look on larger screens */
        width: fit-content; /* Makes the navigation width fit its content */
        padding-right: 1rem; /* Adds some spacing on the right */
    }

    #menu {
        display: flex; /* Arranges menu items in a row instead of stacking them */
    }

    #menu > li {
        padding-left: 1rem; /* Adds space below each list item */
    }

    .nav-toggle-label {
        display: none; /* Hides the menu toggle button on larger screens since it's not needed */
    }

    #logo {
        font-size: 280%; /* Increases logo size for better visibility on larger screens */
        line-height: 75px; /* Adjusts line height for better alignment and make more space at the top */
        margin: 0 0.5rem; /* Adds horizontal margin for spacing */
    }

    /* Main content */
    main {
        margin-top: 79px; /* Pushes main content down to accommodate the larger header */
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}


/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a; /* Adds a bottom border to elements with the "active" class */
    }
}


